<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "navbar.html" as navbar %}
{% import "flasher.html" as flasher %}

{% block title %}
Administration
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}

{{ navbar }}

<div class="container">
    <b>Admin User: {{ name }} </b>
    <li>  -  </li>

    <li><strong><a href="{{ url_for('newdevice') }}">Add New Devices to {{ name }}'s control</a></strong></li>
    <li><strong><a href="{{ url_for('meidedit') }}">Edit/View a Device (using meid)</a></strong></li>
    <li><strong><a href="{{ url_for('history') }}">Ownership History (using meid)</a></strong></li>
    <li><strong><a href="{{ url_for('checkouts') }}">Who Has What? (by badge)</a></strong></li>
    <li>  - </li>
    <li><strong><a href="{{ url_for('oemreport') }}">email {{ name }} an OEM report</a></strong></li>
    <li><strong><a href="{{ url_for('overdue') }}">email {{ name }} 'devices overdue' report </a></strong></li>
    <li>  - </li>
    <li><strong><a href="{{ url_for('people') }}">See All the People with Badges </a> </strong></li>
    <li><strong><a href="{{ url_for('newperson') }}">Add New Users</a></strong></li>
    <li><strong><a href="{{ url_for('newpass') }}">Change a Password </a></strong></li>
    <li>  - </li>
    <li><strong><a href="{{ url_for('logout') }}">Log Out of Administrator Mode</a></strong></li>
</div> <!-- /container -->
{% endblock %}