<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "navbar.html" as navbar %}
{% import "flasher.html" as flasher %}

{% block title %}
Device Entry
{% endblock %}

{% block content %}

{{ navbar }}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

    <div class="container">
      <form class="form-signin" method="POST" action="{{ url_for('meid') }}">
        <h2 class="form-signin-heading">{{ name }} will take MEID(s):</h2>
        {{ form.hidden_tag() }}
          {{ wtf.form_field(form.meid) }}
          {{ wtf.form_field(form.meid2) }}
          {{ wtf.form_field(form.meid3) }}
          {{ wtf.form_field(form.meid4) }}
          {{ wtf.form_field(form.meid5) }}
          {{ wtf.form_field(form.meid6) }}
          {{ wtf.form_field(form.meid7) }}
          {{ wtf.form_field(form.meid8) }}
          {{ wtf.form_field(form.meid9) }}
          {{ wtf.form_field(form.meid10) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Transfer MEID(s)</button>
      </form>
    </div> <!-- /container -->
{% endblock %}