<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "navbar.html" as navbar %}
{% import "flasher.html" as flasher %}

{% block title %}
Login
{% endblock %}

{% block content %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
 {{ navbar }}

    <div class="container">

        <b>Logged in as: </b>{{ name }}

        {% if message %}
        <li><b>{{ message }}</b></li>
        {% endif %}

      <form class="form-signin" method="POST" action="/newpass">
        <h2 class="form-signin-heading">Change Password For:</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.account) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.retype) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->
{% endblock %}